{% extends "main.html" %}
{% load static %}

{% block content %}

<section class="container my-4">
    <h1 class="text-center mb-4 section-heading border-bottom pb-2">Checkout</h1>
        <table class="table table-bordered">
            <thead class="table-warning">
                <tr>
                    <th>Plan</th>
                    <th>Plan Detail</th>
                    <th>Payment For</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="table-bordered table">
                            <tr>
                                <th>Name</th>
                                <td>{{subscriptiondetail.title}}</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>Rs.{{subscriptiondetail.price}}</td>
                            </tr>
                            <tr>
                                <th>Max Member</th>
                                <td>{{subscriptiondetail.max_num}}</td>
                            </tr>
                            <tr>
                                <th>Availiable Seats</th>
                                <td>{{subscriptiondetail.availiable}}</td>
                            </tr>
 
                        </table>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                        {% for detail in sub_feature %}
                          <li>{{detail.title}}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <table class="table table-bordered">
                            {% for discount in discounts %}
                           
                            <tr>
                                <td><input data-planprice="{{subscriptiondetail.price}}" data-discount="{{discount.total_discount}}" type="radio" id="validity{{discount.id}}" name="validity" class="select-validity" value="{{discount.total_months}}" /></td>
                                <th><label for="validity{{discount.id}}">{{discount.total_months}} Month</label></th>
                                <td>{{discount.total_discount}}%</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </tbody>
            <tfoot class="table-info">
                <tr>
                    <td></td>
                    <th>Total Amount</th>
                    <td><b>Rs.<span class="totalAmount">{{subscriptiondetail.price}}</span></b></td>
                </tr>
                <tr>
                    <form method="post" action="{% url 'checkout_session' subscriptiondetail.id %}">
                        {% csrf_token %}
                    <td colspan="2"></td>
                    <td><input type="submit" value="Proceed to Payment" class="btn btn-primary" /></td>
                    </form>
                </tr>
            </tfoot>
        </table>
</section>
<!-- End -->


<script type="text/javascript">
$(document).ready(function(){
$(".select-validity").on('click',function(){
    var _planPrice=$(this).attr('data-planprice');
    var _planDisc=$(this).attr('data-discount');
    var _planValid=$(this).val();
    var _totalPrice=_planPrice*_planValid;
    if(_planDisc>0){
        var _discountedPrice=_totalPrice*_planDisc/100;
        _discountedPrice=_totalPrice-_discountedPrice;
    }else{
        var _discountedPrice=_totalPrice;
    }
    $(".totalAmount").text(_discountedPrice);
});
});
</script>

{% endblock %}